
.appNav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 30px;
	z-index: 100;
}


.appNav>.topMenu {
	position: relative;
	background-color: #444;
	width: 100%;
	height: 30px;
}

.appNav .topMenu .burgerButton {
	margin-top: 2px;
	height: 12px;
	width: 12px;
}

.appNav .topMenu .burgerButton line {
	stroke: #bbb;
}

.appNav .topMenu li:hover .burgerButton line {
	stroke: #fff;
}

.appNav .topMenu>li {
	float:left;
	position: relative;
	box-sizing: border-box;
	height: 30px;
	padding: 7px 14px;
	background-color: #fff;
	cursor:default;
	white-space: nowrap;
	background-color: #444;
	color: #bbb;
}

.appNav .topMenu>li.empty {
	color: #777;
}


.appNav .topMenu>li:not(.empty).active,
.appNav .topMenu>li:not(.empty):hover {
	color: #fff;
}

.appNav li.halfWidth {
	display:inline-block;
	width: 49%;
}

.appNav li.halfWidth.left {
	border-right: 1px solid #555;
}

.appNav .subMenu {
	display:none;
	position: absolute;
	z-index: -1;
	top: 30px;
	left: -1px;
	background-color: #444;
	border-top: 2px solid #444;
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.2);
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	max-height: calc(100vh - 40px);
	overflow-y: auto;
	overflow-x: hidden;
	min-width: 200px;
}

.appNav .subMenu>li {
	position: relative;
	padding: 10px 20px;
	color: #bbb;
	cursor: default;
}

.appNav .subMenu>li:last-child {
	padding-bottom: 14px;
	
}

.appNav .subMenu>li:not(.title):hover {
	background-color: #444;
	color: #fff;
}

.appNav .subMenu>li.title {
	color: #888;
	font-size: 0.7em;
}

.appNav .subMenu>li.title:not(:first-child) {
	border-top: 1px solid #555;
	margin-top: 1em;
}

.appNav .subMenu>li>.note {
	color: #888;
	font-size: 0.85em;
	display:inline-block;
	margin-left: 1em;
}

.appNav li.space {
	margin: 0;
	padding: 0;
	height: 0;
	border: 0;
	border-top: 1px solid #555;
}

.appNav li:first-of-type.space {
	display:none;
}

.appNav a {
	color: inherit;
	text-decoration: none;
	cursor:default;
}

.fileUploadInput,
.fileURLInput {
	position: absolute;
	left: 0;
	top: 0;
	width: 180px;
	height: 35px;
	opacity: 0;
}


/* sub sub menu */

.subSubMenu {
	display:none;
	position: relative;
	margin: 6px 10px;
}

.subSubMenu.active {
	display:block;
	color: inherit;
}
.appNav .subMenu>li:hover .subSubMenu {
	color: #bbb;
}

.subSubMenu>li {
	position: relative;
	padding: 6px 0;
}

.subSubMenu>li:hover {
	color: #fff;
}



/* document settings panel */

.documentSettingsContainer {
	position: absolute;
	top: 65px;
	left: 80px;
	width: 400px;
	height: 300px;
	padding: 10px;
	background-color: #ddd;
}

