
/* settings bar*/

.settingsBarContainer {
	position: absolute;
	top: 30px;
	width: 100%;
	background-color: #777;
	color: #ddd;
	height: 31px;
	clear:both;
}

.settingsBarContainer,
.settingsBarContainer label,
.settingsBarContainer input,
.settingsBarContainer select,
.settingsBarContainer button {
	font-size: 12px;
}

.settingsBarContainer input,
.settingsBarContainer select,
.settingsBarContainer button {
	border: 0;
	background-color: #fff;
}

.settingsBarContainer button {
	padding: 3px 8px;
}

.settingsBarContainer button:hover {
	background-color: #ddd;
}

.settingsBar {
	position: relative;
	float:left;
	padding: 4px 8px;
	margin-right: 10px;
	height: 30px;
}

.settingsBar:first-child {
	min-width: 100px;
}

.settingsBar:first-child {
	background-color: #666;
}

.settingsBar label {
	margin-right: 4px;
}

.settingsSection {
	position: relative;
	display:inline-block;
	margin-right: 10px;
}

.settingsSection:last-child {
	margin-right: 0;
}

.selectionTypeLabel {
	padding: 4px;
}

.fontFamilySection,
.fontWeightSection,
.fontSizeSection,
.opacitySection {
	margin-right: 0;
}

.fontFamilySelect {
	width: 130px;
}

.fontWeightSelect,
.fontSizeSelect {
	width: 70px;
}

.strokeButtons {
	display:inline-block;
	height: 22px;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
	line-height: 0;
}

.strokeInput {
	width: 30px;
	display:inline-block;
}

.opacityInput {
	width: 60px;
}

.inputHelper {
	margin: 0 0 2px 0;
	width: 21px;
	height: 10px;
	text-align: center;
	padding: 0;
	display:block;
	line-height: 0;
}


.blendModeSelect {
	width: 76px;	
}

