body, html {
	overflow:hidden;
	height: 100%;
}

body {
	font-family: Arial, sans-serif;
}

#paperCanvas[resize] {
	width: 100%;
	height: 100%;
}

#paperCanvas:not([resize]) {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

body, input, button, textarea, label {
	font-size: 14px;
	line-height: 16px;
}

input, select {
	border: 1px solid #aaa;
	outline: none;
	padding: 0 4px;
	height: 22px;
	box-shadow: none;
}

.hidden {
	display:none;
}

.loadingScreen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 1;
	z-index: 200;
	transition: opacity 0.5s ease;
}

.loadingScreen.disabled {
	opacity: 0;
}

.loadingScreen .panel {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #444;
	height: 31px;
	color: #bbb;
	padding: 0.5em 1.4em;
}

.zoom-in {
	cursor: -webkit-zoom-in;
	cursor: zoom-in;
}

.zoom-out {
	cursor: -webkit-zoom-out;
	cursor: zoom-out;
}

.grab {
	cursor: -moz-grab;
	cursor: -webkit-grab;
	cursor: grab;
}

.grabbing {
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
	cursor: grabbing;
}

.colorInputBlocker,
.menuInputBlocker {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	z-index: 300;
}

.menuInputBlocker {
	z-index: 99;
}

input::-webkit-inner-spin-button, 
input::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0; 
	
}

input[type=number] {
	-moz-appearance:textfield;
}

select,
.comboSelect {
	height: 22px;
	margin: 0;
	outline: none;
	cursor:pointer;
}

.comboSelect {
	position: absolute;
	right: 0;
	width: 22px;
	padding: 0;
	top: 0;
	background-color: transparent;
	border: 0;
}

select,
.comboSelect,
select::-ms-expand {
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url('../assets/selectButton.png');
	background-repeat:no-repeat;
	background-position: right center;

}

select::-ms-expand {
	display: none;
}

button {
	cursor:pointer;
}
