
.toolbar {
	position: absolute;
	padding: 14px 5px 8px 8px;
	top: 30px;
	left:0px;
	width: 76px;
	background-color: #fff;
	border-radius: 0 0 3px 0;
	z-index: 20;
	max-height: calc(100vh - 30px);
	overflow-y: auto;
	overflow-x: hidden;
}


.toolbarSection {
	position: relative;
	margin-bottom: 20px;
}


.toolbarSection.extraSpace {
	margin-bottom: 30px;
}

.toolbarSection:last-child {
	margin-bottom: 0;	
}


.tool {
	position: relative;
	display:inline-block;
	background-color: #fff;
	line-height: 0;
	text-align: center;
	font-size: 0;
	padding: 0;
	width: 28px;
	height: 28px;
	margin: 0 0 2px 0;
	cursor:pointer;
	border-radius: 3px;
	overflow: hidden;
	background-repeat:no-repeat;
	background-size: 28px;
}

.tool:hover,
.tool.active {
	background-color: #e2e2e2;
}


.colorContainer {
	height: 60px;
}

.colorContainer input {
	display:none;
}

.colorSwitchButton {
	position: absolute;
	display:block;
	width: 20px;
	height: 20px;
	padding: 0;
	cursor:pointer;
	right: 3px;
	top: 0px;
	background-image: url(../assets/icon_switchColor.svg);
	background-size: 16px;
	background-repeat:no-repeat;
	background-position: 2px;
}


.toolbarLabel {
	top: -18px;
	position: absolute;
	color: #888;
	font-size: 0.85em;
	display:block;
	margin-bottom: 3px;
}

.opacityInput {
	width: 100%;
}


.blendModeSelect {
	width: 100%;
	padding: 0;
}

.strokeInput {
	width: 100%;
}

.strokeButtons {
	position: absolute;
	top: 0;
	right: 0;
	display:inline-block;
	height: 22px;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
	line-height: 0;
}


.inputHelper {
	border: 0;
	background-color: transparent;
	margin: 0 0 1px 0;
	width: 21px;
	height: 10px;
	text-align: center;
	padding: 0;
	display:block;
	line-height: 0;
	outline:none;
}


.statusBar {
	position: fixed;
	bottom: 0;
	right: 0;
	background-color: white;
	border-radius: 3px 0 0 0;
	margin: 0;
	padding: 5px;
	height: 33px;
}

.statusBarSection {
	position: relative;
	display:inline-block;
	margin-left: 1em;
}

.selectionTypeLabel {
	color: #aaa;
}

.selectionTypeLabel:not(.none) {
	color: #009dec;
}

.zoomInput {
	width: 60px;
}

