
# AddHandler application/x-httpd-php5 .php
Options All -Indexes
AddType video/ogg ogv
AddType video/webm webm
AddType audio/ogg ogg

RewriteEngine On
RewriteCond %{HTTPS} =off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [QSA,L,R=301]